<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="continer text-center">
        <!-- <img src="../../../assets/logo.png" alt=""> -->
      </div>
      <h1 class="text-center" style="margin-top: 2%;">Register here !</h1>
      <form (ngSubmit)="formSubmit()">
        <!-- userName -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>User Name</mat-label>
          <input matInput placeholder="Enter here">
        </mat-form-field>

        <!-- password -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>password</mat-label>
          <input type="password" matInput placeholder="Enter here">
        </mat-form-field>

        <!-- First Name -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Enter here">
        </mat-form-field>

        <!-- Email -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Enter here">
        </mat-form-field>
        <!-- Email -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Enter here">
        </mat-form-field>

        <!-- Phone -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Phone</mat-label>
          <input type="number" matInput placeholder="Enter here">
        </mat-form-field>


        <div class="continer text-center">
          <button mat-raised-button color="primary">Register</button>
          <button style="margin-left: 2%;" mat-raised-button color="accent">Clear</button>
        </div>

      </form>


    </div>
  </div>
</div>